#mainHeader{
    position:absolute;
    top: 125px;
    left: 170px;
}



#lottie_player{
    border-style:groove;
    border-radius: 22px;
    box-shadow: 0 0 10px rgba(163, 144, 144, 0.08);
}


.logo{
   width: 100px;       /* or any size */
  height: 100px;      /* ensure it's equal to width */
  border-radius: 50%;
  object-fit: cover;  /* optional: ensures image fills the circle nicely */
}

.company_title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #222;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
}


#myPhoto{
    width: 200px;
    height: 350px;
}


#secondPhoto{
    position: relative;
    top:40px;
}